.head{
    width: 100%;
    height: 200vh;
    flex: display;
    justify-content: center;
    align-items: center;
    background-color: mediumspringgreen;

}
.headtext{
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    /* padding-left: 100px; */
}